@using Module.Framework.Common;
@{
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
    var modelParam = new Business.Entities.Domain.QLQ_GiayChungNhanParam();
    var modelList = new List<Business.Entities.Domain.QLQ_GiayChungNhanMap>();
}
<script src="~/Scripts/QLQ_QuyenLienQuan/QLQ_QuyenLienQuan_SearchGiayChungNhan.js"></script>
<div class="modal fade custom-margin-form-group" id="dialogSearchGiayChungNhan" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header h-25">
                <h5 class="modal-title">Thông tin giấy chứng nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.Partial("DialogSearchGiayChungNhan/Search", modelParam)
                </div>
                <div class="table-responsive mt-3 sh-list-giaychungnhan" id="result-searchgiaychungnhan">
                    @Html.Partial("DialogSearchGiayChungNhan/List", modelList)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fas fa-times mr-2"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.QLQ_QuyenLienQuan_SearchGiayChungNhan)) {
            Common.QLQ_QuyenLienQuan_SearchGiayChungNhan = new QLQ_QuyenLienQuan_SearchGiayChungNhan({
                Url: {
                    SearchGiayChungNhan: '@Url.Action("SearchGiayChungNhan", "QLQ_QuyenLienQuan")',
                },
            });
        }
        else {
            Common.QLQ_QuyenLienQuan_SearchGiayChungNhan.RegisterEvent();
        }
    });
</script>