@using Module.Framework.Common;
@{
    ViewBag.Title = "BÁO CÁO TỔNG HỢP SỐ LIỆU";
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
}
@model CMS.Admin.Models.BC_BaoCaoTongHopSoLieuViewModel
<div class="card bg-white w-100">
    <div class="card-header">
        <h4 class="card-title">BÁO CÁO TỔNG HỢP SỐ LIỆU</h4>
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li class="cursor"><a data-action="collapse"><i class="fas fa-minus"></i></a></li>
                <li class="cursor"><a data-action="reload"><i class="fas fa-sync-alt"></i></a></li>
                <li class="cursor"><a data-action="expand"><i class="fas fa-expand"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 mt-md-0 mt-sm-3">
                    @Html.Partial("_PartialSearch", Model.Search)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 mt-md-0 mt-sm-3 text-right" style="font-size:28px">
                    <a href="#" data-action="1" id="btn-word"><i class="far fa-file-word text-primary"></i></a>
                    <a href="#" data-action="3" id="btn-pdf"><i class="far fa-file-pdf text-danger"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Dialog update--->
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/BC_ThongKe/BC_BaoCaoTongHopSoLieu.js")"></script>
}
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.BC_BaoCaoTongHopSoLieu)) {
            Common.BC_BaoCaoTongHopSoLieu = new BC_BaoCaoTongHopSoLieu({
                Url: {
                    ExportExcel: '@Url.Action("ExportFileExcel", "Print")',
                    ExportWordPdf: '@Url.Action("ExportFileWord", "Print")'
                },
            });
        }
        else {
            Common.BC_BaoCaoTongHopSoLieu.RegisterEvent();
        }
    });
</script>

