@using Module.Framework.Common;
@using CMS.Admin.Constaints;
@{
    ViewBag.Title = "Hồ sơ chuyên ngành";
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
}

<div class="card bg-white w-100">
    <div class="card-header">
        <h4 class="card-title">Hồ sơ chuyên ngành</h4>
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li class="cursor"><a data-action="collapse"><i class="fas fa-minus"></i></a></li>
                <li class="cursor"><a data-action="reload"><i class="fas fa-sync-alt"></i></a></li>
                <li class="cursor"><a data-action="expand"><i class="fas fa-expand"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
           
        </div>
    </div>
</div>
