<section class="clkMenuTabProperties right-menu position-fixed menu-general">
    <ul class="nav tool-menu-right pt-0">
        <li class="nav-item">
            <a class="nav-link active" data-tab="properties" href="#">Properties</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>*@
    </ul>
</section>