<section class="clkMenuTab left-menu position-fixed menu-general scroll-css">
    <ul class="nav tool-menu-left pt-0">
        <li class="nav-item">
            <a class="nav-link" data-tab="container" href="#">Layout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="form" href="#">Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="inputSpecial" href="#">Special html</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="#" data-tab="table">Table</a>
        </li>*@
        @*<li class="nav-item">
            <a class="nav-link" href="#" data-tab="formSettings"> Form settings</a>
        </li>*@
    </ul>
</section>