<!--dialog them moi option -->
<div class="modal fade custom-margin-form-group" id="dialogAddOption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header h-25">
                <h5 class="modal-title">Edit option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row" id="html-select-option">
                    <div class="form-group col-md-12 select-option-item">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control w-25 select-option-label" placeholder="Nhập tên hiển thị">
                            <input type="text" class="form-control w-25 select-option-value" placeholder="Nhập giá trị">
                            <div class="input-group-append" id="btnInputGroupRemoveOption">
                                <button type="button" class="btn btn-danger btn-remove-option" disabled="">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-clone-option">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm btnSaveOptionSelect"><i class="fas fa-check mr-1"></i> Lưu</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--end dialog them moi option -->