@using Module.Framework.Common;
@using CMS.Admin.Constaints;
@{
    var user = LoginManager.GetCurrentUser();
    var admin = LoginManager.CheckAdmin();
}
<div class="modal fade custom-margin-form-group" id="dialogAddLoaiSo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header h-25">
                <h5 class="modal-title">Tạo mới/Cập nhật quyền</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" id="form-update" class="form-horizontal label-right">
                    @Html.Partial("DialogUpdate/Update", new Business.Entities.Domain.DM_LoaiSoMapAdd())
                </form>
            </div>
            <div class="modal-footer">
                @if (admin == true || user.Right.Contains(CookieRight.DM_LoaiSoController_ThemMoi))
                {
                    <button type="submit" class="btn btn-success btn-sm" id="btnLuuDM"><i class="far fa-save mr-1"></i> Lưu</button>
                }
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fas fa-times mr-2"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/DM_LoaiSoThemMoi.js")"></script>
}
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.DM_LoaiSoThemMoi)) {
            Common.DM_LoaiSoThemMoi = new DM_LoaiSoThemMoi({
                Message: {
                    Ten: 'Nhập tên!!!',
                    MaHtml: 'không được chứa mã HTML!!!',
                    MaJavaCript: 'không có đoạn Javascript không hợp lệ !!!',
                    LengthTen: 'Nhập không quá 300 ký tự!!!',
                    LengthMota: 'Nhập mô tả không quá 500 ký tự!!!',
                },
            });
        }
        else {
            Common.DM_LoaiSoThemMoi.RegisterEvent();
        }
    });
</script>
