<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TTHCSoap" />
                <binding name="BasicHttpBinding_IVerifyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://csdl.thutuchanhchinh.vn/webservice/TTHC.asmx"
                binding="basicHttpBinding" bindingConfiguration="TTHCSoap"
                contract="TTHCServiceReference.TTHCSoap" name="TTHCSoap" />
            <endpoint address="http://localhost:2020/VerifyService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVerifyService" contract="VerifyServiceReference.IVerifyService"
                name="BasicHttpBinding_IVerifyService" />
        </client>
    </system.serviceModel>
</configuration>